name: Webapp

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Install dependencies
      - name: Install Dependencies
        run: npm install
        working-directory: ./joyboy-webapp

      # Build step with working directory set to ./crates/wasm/app
      # NODE_OPTIONS=--openssl-legacy-provider is required for the build step to work
      - name: Build
        run: NODE_OPTIONS=--openssl-legacy-provider npm run build
        working-directory: ./joyboy-webapp

      # Deploy step
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./joyboy-webapp/build
